<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">

    <link rel="stylesheet" href="/styles/bootstrap.min.css">
    <link href="https://fonts.googleapis.com/css?family=Oswald|Bai+Jamjuree:700" rel="stylesheet">
    <link rel="stylesheet" href="/styles/styles.css" type="text/css" />
    <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
        crossorigin="anonymous"></script>
    <script src="/js/bootstrap.bundle.min.js"></script>
    <link rel="shorcut icon" href="/public/images/favicon.png">
    <title>Expense Tracker</title>
</head>

<body>
    {{{body}}}
</body>

</html>