<div id="home">

   {{!-- header --}}
  <div class="jumbotron header sticky-top">
    <div class="col">
      <h1 class="text-right"><span class="flow">flow</span><br><span class="expense-tracker border border-dark rounded">Expense Tracker</span></h1>
    </div>
  </div>


  <div class="container">

    <div class="row">
      <div class="col-8 offset-2">
        <form class="clearfix mx-auto" style="width:60%" action="POST">
          <div class="form-group">
            <label for="new-user">New User</label>
            <input type="text" id="new-user" class="form-control" aria-describedby="New User Name" placeholder="Enter Name">
            <input type="text" id="new-user-pass" class="form-control" aria-describedby="New User Password" placeholder="Enter Password">
            <br>
            <button id="new-user-submit" class="btn btn-secondary float-right">Create User</button>
          </div>
        </form>
        <form class="clearfix mx-auto" style="width:60%" action="GET">
          <div class="form-group">
            <label for="user-login">Existing User Login</label>
            <input type="text" id="user-login" class="form-control" aria-describedby="Existing User Name" placeholder="Enter Name">
            <input type="password" id="user-login-pass" class="form-control" aria-describedby="Login Password"
              placeholder="Enter Password">
            <br>
            <button id="user-login-submit" class="btn btn-secondary float-right">Login user</button>
          </div>
        </form>
      </div>
      <div class="modal fade" id="registration" tabindex="1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-body">
              <h3 class="modal-title">Merci !</h3>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


<script src="/js/index.js"></script>

{{!--<div id="container">
  <form id="Login" method="POST">
    <label for="username">Username:</label>
    <input type="text" id="username" name="username">
    <label for="password">Password:</label>
    <input type="password" id="password" name="password">
    <div id="lower">
      <br><br>
      <a href="NewUser.html" id="new-user">New User</a>
      <input type="submit" value="Submit" id="submit">
    </div>
  </form>
</div>--}}