<div id="home">

  {{!-- header --}}
  <div class="jumbotron">
    <div class="row">
      <div class="col offset-5">
        <h1>Expense Tracker</h1>
      </div>
    </div>
  </div>

  {{!-- page content --}}
  <div class="container">
    <div class="row">
      <div class="col-8 offset-2">
        <br><br>
        <h1>{{this.userName}}</h1>
        <h2>This is our Home Page!</h2>
        <br><br>
        <form class="clearfix mb-4" action="POST">
          <div class="form-group">
            <label for="example-text">Example Text</label>
            <input type="text" id="example-text" class="form-control" aria-describedby="example-text" placeholder="Enter Example Text">
          </div>
          <div class="form-group">
            <label for="example-description">Example Description</label>
            <textarea class="form-control" id="example-description" aria-describedby="example-description" placeholder="Enter Example Description"></textarea>
          </div>
        </form>
        <h3>Existing Users</h3>
        <ul id="existing-users" class="list-group">
          {{#each expenses.users}}
          <li data-id="{{this.UserId}}" class="list-group-item">
            <a href="users/{{this.UserId}}">{{this.password}}</a>
            <button class="btn btn-danger float-right delete">ｘ</button>
          </li>
          {{/each}}
        </ul>
      </div>
    </div>

  </div>
</div>

<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="/js/loggedIn.js"></script>
