<div id="home">

  {{!-- header --}}

  <div class="jumbotron header sticky-top">
    <div class="col pb-4">
      <h1 class="text-right mx-1"><span class="flow">flow</span><br><span class="expense-tracker border border-dark rounded">Expense
          Tracker</span></h1>
    </div>
  </div>

  <div class="container py-4">

    {{!-- primary page content area --}}
    <div class="row" id="mainBox">
      {{!-- Left Side of top bar AKA input and items list --}}

      <div class="col mr-2" id="mainColLeft">

        {{!-- User input fields for items --}}
        <div class="row" id="topLeftRow">

          <div class="col ml-1 mr-2">
            <form id="newItemCreateForm">
              <div class="row">

                <div class="col mr-1 my-1">
                  <input type="number" id="item-price" class="form-control custom-select" aria-label="Dollar ammount (with dot and two decimal places)">
                </div>

                <div class="col my-1">
                  <div class="input-group">
                    <select class="custom-select" id="item-type" aria-label="Choose Want or Need">
                      <option selected>Type</option>
                      <option value="Want">Want</option>
                      <option value="Need">Need</option>
                    </select>
                  </div>
                </div>


                <div class="col my-1">
                  <div class="input-group">
                    <select class="custom-select" id="item-category" aria-label="Choose A Category">
                      <option selected>Category</option>
                      <option value="Rent">Rent</option>
                      <option value="Groceries">Groceries</option>
                      <option value="Debt">Debt</option>
                    </select>
                  </div>
                </div>


                <div class="col ml-1 my-1">
                  <input class="btn btn-secondary" type="submit" value="Add Item" id="new-item-submit">
                </div>

              </div>
            </form>
          </div>
        </div>

        {{!-- // page alert to be replaced when code is updated --}}
        <div class="row">
          <div class="container text-center py-4">
            <p class="refresh"> * refresh page to update item list * </p>
          </div>
        </div>

        {{!-- Interactive Display of users items in database w/ handlebars --}}
        <div class="row" id="botLeftRow">
          <div class="col">
            <div class="container">
              {{!-- handlebars from database of users items with ability to delete from database --}}
              <h3 class="text-left mx-2 my-0">User Items</h3>
              <ul id="user-items" class="list-group">
                {{#each userData}}
                <div class="itemTextBox align-left">
                  <li class="list-group-item ">
                    <p class="items">Price: $<span>{{this.Price}}</span></p>
                    <p class="items">Type: {{this.Typeof}}</p>
                    <p class="items">Category: {{this.Category}}<span><button class="btn btn-secondary float-right delete"
                          data-id="{{this.itemId}}">ｘ</button></span></p>

                  </li>
                </div>
                {{/each}}
              </ul>
            </div>
          </div>
        </div>
        {{!-- End of main left side column --}}
      </div>

      {{!-- Start of main right side column --}}
      <div class="col" id="mainColRight">

        {{!-- User selection fields for modifying graphs --}}
        <div class="row mx-1" id="topRightRow">

          {{!-- chart dropdown --}}
          <div class="col">

            <form>
              <div class="row">
                <div class="dropdown">
                  <div class="col my-1">
                    <div class="input-group">
                      <select class="custom-select" id="choose-chart" aria-label="Choose A Category">
                        <option selected>Chart Selection</option>
                        <option value="Bar Chart">Bar Chart</option>
                        <option value="Pie Chart">Pie Chart</option>
                        <option value="Line Chart">Line Chart</option>
                      </select>
                    </div>
                  </div>
                </div>
            </form>

            <div class="col ml-1 my-1">
              <input class="btn btn-secondary" type="submit" value="Add Item" id="new-item-submit">
            </div>
          </div>

        </div>
      </div>

      {{!-- Box to display graphs--}}

      <div class="row mt-5" id="botRightRow">

        
        <div class="col" width="400" heigth="400">

          <div class="container"></div>
            {{!-- this is where the charts display --}}

          <img src="/public/Images/accounting-image.jpg" alt="coins stacked like bar chart">
            
            {{!-- <div id="chartHolder">
              <canvas id="LineChart" width="400" height="400"></canvas>
              <canvas id="PieChart" width="400" height="400"></canvas>
              <canvas id="BarChart" width="400" height="400"></canvas>
            </div> --}}
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

{{!--libraries--}}
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.3/Chart.bundle.min.js"></script>

{{!--custom script--}}
<script src="/js/loggedIn.js"></script>
<script src="/js/chart.js"></script>