/* font-family: 'Oswald', sans-serif; */
h1 {
  margin-bottom: 20px;
}

body{
  background-color: lightgrey;
}

.jumbotron{
  background-color: transparent;
  background-image: url(../images/accounting-image.jpg);
  height: 300px;
  overflow: visible;
  white-space: nowrap;
}

.flow {
  font-family: 'Bai Jamjuree', sans-serif;
  font-size: 120px;
  color: black;
  text-decoration: underline;
  margin-right: 160px;
  color: lightgrey;
}

.expense-tracker {
  font-family: 'Oswald', sans-serif;
  margin-right: 160px;
  color: black;
  background-color: lightgrey;
  padding-right: 2px;
}

.btn {
  background-color: black;
  color: darkgrey;
}

strong {
  background-color: transparent;
  font-family: 'Oswald', sans-serif;
  
}

p {
  font-family: 'Oswald', sans-serif;
  font-size: 20px;

}

li {
  color: black;
  font-size: 18px;
}

label {
  font-family: 'Oswald', sans-serif;
  font-size: 26px;
}

h3 {
  font-family: 'Oswald', sans-serif;
  font-size: 26px;
}

.itemTextBox {
  opacity: 0.6;
  background-image: url("../Images/cheque-fill.jpg");
  background-position: center;
  background-size: 90%;
  padding: 20px;
  margin: 10px 0px 10px 0px;
  border: solid;
  border-color: black;
  border-width: 2px;
  border-radius: 5px;
}

.items {
  font-family: 'Oswald', sans-serif;
  font-size: 24px;
  margin: 0px;
  padding-bottom: 5px;
}

.custom-select {
  border: 1px solid black;
}

#chartHolder {
  background-color:transparent;
}

.refresh {
  margin-top: 15px;
}