/* font-family: 'Oswald', sans-serif; */
h1 {
  margin-bottom: 20px;
}

body{
  background-color: lightgrey;
}

.jumbotron{
  background-color: transparent;
  background-image: url(../images/accounting-image.jpg);
  height: 300px;
}

.flow {
  font-family: 'Bai Jamjuree', sans-serif;
  font-size: 120px;
  color: black;
  text-decoration: underline;
  margin-right: 160px;
  margin-bottom: 40px;
  color: lightgrey;
}

.expense-tracker {
  font-family: 'Oswald', sans-serif;
  margin-right: 160px;
  color: black;
  background-color: lightgrey;
  padding-right: 2px;
  /* border: 1px solid black;
  border-radius: 15%; */
}

.btn {
  background-color: black;
  color: darkgrey;
}

strong {
  background-color: transparent;
}

label {
  font-family: 'Oswald', sans-serif;
  font-size: 26px;
}

h3 {
  font-family: 'Oswald', sans-serif;
  font-size: 26px;
}


